<div class="container">
  
    <div class="text-center">
      <img src="../../assets/images/logo1.png" class="img-fluid" alt="logo">
  </div>

  <br><br>
<!-- ================================================= -->
  <div class="row ">
    <div class="col-sm-3 col-md-4">
      <div class="jumbotron">
        <h5>Source Code</h5>
        <p>
          this is a open source project. you freely get the project and
          optimize it according to you & don't forget to give Credit
        </p>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="jumbotron">
          <h5>Links</h5>
        <p>Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Unde, accusantium!</p>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 ">
      <div class="jumbotron">
        <h5>Contact</h5>
        <p>
          Gmail: sk956223@gmail.com <br>
          whatsapp: +917836072135 <br>
          Origin: India <br>
        </p>
      </div>
    </div>
  </div>
  <!-- ===================================================== -->
  <br><br>
  <div class="row">
    <div class="ml-3 mb-3">
      <button [disabled]="true" class="btn btn-primary">
        Donate Us
      </button>
    </div>
  </div>
</div>