.navbar-x{
    margin-left: 12px;
    color: rgba(255,255,255,0.5);
    margin-right: 12px;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.navbar-x:hover {
    color: white;
}

.custom-active{
    color: white;
}