<app-search-box></app-search-box>
<br>
<br>

<!-- loading icon -->
<div class="container text-center" *ngIf="isLoading">
  <div class="lds-ripple">
    <div></div>
    <div></div>
  </div>
</div>

<!-- movie frame -->
<div class="container" *ngIf="movies.length > 0">
  <div class="row">
    <div @fade class="col-xs-2 mb-5 movie-frame" *ngFor="let movie of movies">
      <a (click)="getDetailsOfSingleMovie(movie)">
        <div class="card" *ngIf="movie.id">
          <div class="inner-image" *ngIf="movie.poster_path !== null">
            <img [src]="'https://image.tmdb.org/t/p/w500'+ movie.poster_path" class="card-img-top" alt="">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ movie.title||movie.original_name}}
              <small class="form-text text-muted">{{movie?.release_date}}</small>
            </h5>
            <small class="form-text text-muted">Rating: {{movie?.vote_average}}</small>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container" *ngIf="movies.length == 0  && !resultFound && okStatus != 0">
  <div class="row">
    <div class="col text-center">
      <div class="jumbotron">
        <h5>
          no result found
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- no  -->
<div class="container" *ngIf="!response  && okStatus == 0">
  <br><br>
  <div class="text-center">
    <h4 style="color: white">
      {{message}}
    </h4>
  </div>
</div>

<!-- second loader and add more -->
<div class="container" *ngIf="movies.length > 0">
  <div class="container text-center" *ngIf="moreLoading && addMoreStatus == 1">
    <div class="lds-facebook">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="row" *ngIf="!moreLoading && addMoreStatus == 0">
      <div class="col text-center">
        <h6>
           {{addMoreStatusText}}
        </h6>
      </div>
    </div>
  <button class="btn btn-danger btn-block mb-3" (click)="addMoreSearchMovies()">
    more
  </button>
</div>